<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <h1>Welcome to our Home Page!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eius quibusdam consectetur blanditiis quo. Quia atque ea maiores fugit temporibus quisquam, repellat sapiente consequatur! Iste molestiae necessitatibus quam perferendis perspiciatis.</p>
</body>
</html>
